/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #333;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(26, 26, 26, 0.9);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    border-bottom: 4px solid #ff9933;
    z-index: 1000;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

.menu-toggle {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 1.5em;
    cursor: pointer;
    z-index: 1000;
    background: transparent;
    border: none;
    color: #fff;
}

nav {
    position: fixed;
    top: 0;
    left: -250px; /* Masquer par défaut */
    width: 250px;
    height: 100%;
    background-color: #333;
    transition: left 0.3s ease; /* Transition fluide */
    z-index: 1000;
}

nav.active {
    left: 0; /* Afficher le menu lorsqu'il est actif */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 50px 0 0 0;
}

nav ul li {
    padding: 15px;
    border-bottom: 1px solid #666;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    display: block; /* Assurer que le lien occupe toute la largeur */
}

nav ul li a:hover {
    background-color: #444;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    margin-top: 70px; /* Ajuster pour le header fixe */
}

section {
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.9);
}

h2 {
    color: #1a1a1a;
    text-align: center;
}

#map {
    height: 400px;
    border-radius: 10px;
    margin-top: 20px;
}

/* Media Queries pour la réactivité */
@media (max-width: 768px) {
    .container {
        width: 95%;
        padding: 10px;
    }

    header {
        padding: 5px 0;
    }

    nav ul li {
        display: block;
        margin: 5px 0;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.5em;
    }

    section h2 {
        font-size: 1.2em;
    }

    section p,
    nav ul li a {
        font-size: 0.9em;
    }

    button {
        padding: 8px 16px;
    }
}
